- content_for :styles do
  - stylesheet_link_tag 'partials/header', 'form/form', 'partials/footer'
-content_for :javascript do
  - javascript_include_tag 'homepage'
= render partial: "partials/header", locals: {name: @name}
.profile_header Create Your Profile
.form_container
  = form_tag '/map', method: :post do
    .input_components
      .data_point
        .field_text Name:
        %input{class: 'input_field'}
      .data_point
        .field_text School:
        %input{class: 'input_field'}
      .data_point
        .field_text Graduating Year:
        .input_field
          %select{class: 'select_field'}
            %option{class: 'input_field'} Select a Year
            - (2010..2018).each do |year|
              %option{class: 'input_field'} #{year}
      .data_point
        .field_text Job Title:
        %input{class: 'input_field'}
      .data_point
        .field_text New Location:
        %input{class: 'input_field'}
      .data_point
        .field_text Smoking:
        .input_field
          %select{class: 'select_field'}
            %option{class: 'input_field'} Select
            %option{class: 'input_field'} Yes
            %option{class: 'input_field'} No
      .data_point
        .field_text Cleanliness:
        %input{class: 'input_field'}
      .data_point
        .field_text Preferred Roommate:
        .input_field
          %select{class: 'select_field'}
            %option{class: 'input_field'} Select
            %option{class: 'input_field'} Male
            %option{class: 'input_field'} Female
            %option{class: 'input_field'} Doesn't Matter
      .data_point
        .field_text Hobbies:
        %textarea{class: 'hobbies_field'}
      .data_point
        .field_text Vacant Room Available?
        .input_field
          %input{type: 'checkbox', class: 'vacant_room'}
      .data_point
        .field_text{style: 'margin-top: 29px;'} Facebook Link:
        .login_button Facebook Login
        %fb:login-button{:scope => "public_profile,email", :onlogin => "checkLoginState();"}
    = submit_tag "Select Locations", class: 'submit_profile'
    %a.cancel_button{href: '/'} Cancel
    
= render partial: 'partials/footer'
:javascript
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
    }
    console.log(response.status)
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1698795277012584',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
